<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>게시물 등록</title>
<script>
function btn_register(){
	document.formRegistry.action = '/board/boardRegister' /* 중간에 들어가는 것은 밑에 작성한 form의 이름.  */
	document.formRegistry.submit();
}

</script>
</head>

<body>


<form name = "formRegistry" method = "post" onsubmit()>
작성자 이름 : <input type = "text" name = "mwriter"><br>
아이디 : <input type = "text" name = "userid"><br>
게시물 제목 : <input type = "text" name = "mtitle"><br>
내용<br>

<textarea cols = 100 row = 500 name = "mcontent"></textarea>

<input type = "button" value = "등록" onclick = "btn_register()">

</form>

</body>
</html>